<div class="modal" id="modal-1">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
        <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
        <div class="modal-title h5">Credits/Copyright/Lizenzen</div>
        </div>
        <div class="modal-body">
            <div class="content">          
                <h3>Credits:</h3>
                <p>
                    <ul>
                        <li>Auschnitt der Uhr im Logo: Foto von <a href="https://de.wikipedia.org/wiki/Grazer_Uhrturm#/media/Datei:Graz_I_Innere_Stadt_Uhrturm_2.jpg" target="_blank">Andreas E. Neuhold</a></li>
                        <li>Logo: @ 2020 Nadja Wrisk</li>
                    </ul>
                </p>
                <h3>Verwendete Tools: </h3>
                <p>
                    <ul>
                        <li>CSS-Framework: <a href="https://picturepan2.github.io/spectre" target="_blank">spectre.css</a></li>
                        <li>Static-Site-Generator: <a href="https://gohugo.io/" target="_blank">hugo</a></li></li>
                    </ul>
                    Aller Inhalt dieser Seite steht unter <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY-SA 3.0</a>
                </p>
            </div>
        </div>
        <div class="modal-footer">
           Stolz gebaut: ganz und gar ohne JavaScript
        </div>
    </div>
</div>