{{- define "main" }}
<div class="post-content">
    <span class="four-oh-four">404</span>
    <p>Diese Seite existiert nicht. Zur <a class="decorated-link" href="/">Startseite zurückkehren</a>.</p>
    <a href="{{ "/" | absURL }}">
        <img style="display:block" alt="Das Mastodon Maskottchen haut auf eine Tastatur ein, der Bildschirm schreibt groß Error." src="/oops.gif"></img>
    </a></div>
</div>


{{- end }}{{/* end main */ -}}