{{/* Einkommen bis 1. Jänner 2022 */}}
{{ $donations := 704.54 }}

{{/* Ausgaben bis 1. Jänner 2022 */}}
{{ $expenses := 503.80 }}

{{/* Berechnen der Gesamteinnahmen */}}
{{ $donationsdata := dict }}
{{ $path := "archiv/finanzen/spenden.csv" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $donationsdata = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}

{{ range $i, $r := $donationsdata }}
  {{ if ne $i 0 }}
    {{ $donation := float (index $r 1) }}
    {{ $donations = (add $donations $donation) }}
  {{ end }}
{{ end }}


{{/* Berechnen der Gesamtausgaben */}}
{{ $expensesdata := dict }}
{{ $path := "archiv/finanzen/ausgaben.csv" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $expensesdata = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}

{{ range $i, $r := $expensesdata }}
  {{ if ne $i 0 }}
    {{ $expense := float (index $r 1 )}}
    {{ $expenses = (add $expenses $expense) }}
  {{ end }}
{{ end }}

{{ $balance := sub $donations $expenses }}

{{/* Berechnen des letzten Datums */}}
{{ $dates := slice }}
{{  range $i, $r := $donationsdata }}
  {{ if ne $i 0 }}
    {{ $date := index $r 0 }}
    {{ $dates = $dates | append $date }}
  {{ end }}
{{ end }}
{{  range $i, $r := $expensesdata }}
  {{ if ne $i 0 }}
    {{ $date := index $r 0 }}
    {{ $dates = $dates | append $date }}
  {{ end }}
{{ end }}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Spenden</th>
            <th>Ausgaben</th>
            <th>Bilanz</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ lang.FormatNumberCustom  2 $donations "- , ." }}&#8239;€</td>
            <td>{{ lang.FormatNumberCustom  2 $expenses "- , ." }}&#8239;€</td>
            <td style="text-align:left">
                {{ if gt $balance 0 }}
                    <span class="label label-success">+
                {{ else }}
                    <span class="label label-error">
                {{ end }}
                {{ lang.FormatNumberCustom  2 $balance "- , ." }}&#8239;€</span>
            </td>
        </tr>
    </tbody>
</table>
