{{ $donations := 0 }}

{{ $expenses := 0 }}

{{ $data := dict }}
{{ $path := "finanzen/konto.csv" }}
{{ $seperator := ";" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal (dict "delimiter" ";") }}
    {{ $data = . }}
  {{ end }}
{{ end }}

{{/* Berechnen der Gesamteinnahmen */}}
{{ range $i, $r := $data }}
  {{ if ne $i 0 }}
    {{ $amountstring := (index $r 1) }}
    {{ $amountstringnew := replace $amountstring "," "." }}
    {{ $amount := float $amountstringnew }}
    {{ if (ge $amount 0) }}
      {{ $donations = (add $donations $amount) }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Berechnen der Gesamtausgaben */}}
{{ range $i, $r := $data }}
  {{ if ne $i 0 }}
    {{ $amountstring := (index $r 1) }}
    {{ $amountstringnew := replace $amountstring "," "." }}
    {{ $amount := float $amountstringnew }}
    {{ if (le $amount 0) }}
      {{ $expenses = (add $expenses $amount) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $balance := add $donations $expenses }}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Spenden</th>
            <th>Ausgaben</th>
            <th>Bilanz</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ lang.FormatNumberCustom  2 $donations "- , ." }}&#8239;€</td>
            <td>{{ lang.FormatNumberCustom  2 $expenses "- , ." }}&#8239;€</td>
            <td style="text-align:left">
                {{ if gt $balance 0 }}
                    <span class="label label-success">+
                {{ else }}
                    <span class="label label-error">
                {{ end }}
                {{ lang.FormatNumberCustom  2 $balance "- , ." }}&#8239;€</span>
            </td>
        </tr>
    </tbody>
</table>
